body.bkcolor {
    <!-- background-color:powderblue; -->
	background-image: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
       background-repeat: repeat-x;
    }

div.backimage{
}

p.one {
    border-style: solid;
    border-width: 5px;
    }

 div.one{
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 20px;
    align-content: center;
}
    
div.two{
	padding: 10px;
}

div.slideBox{
	height: 250px;
	width: 45%;
	border-radius: 25%;
	border-width: 2px;
	border-color: black;

}
 <!-- mainbody grid layout and color -->
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-containers {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu main main main footer footer';
  grid-gap: 5px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-containers > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}
/* -------------mainpage box settings------- */
.bg_gradient {
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
  
}

.bg_bk_img{
	background-image: url("https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
       background-repeat: repeat-x;
       

}

/*div formating */
.square_fade{
	background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
    height: 300px;
    width: 200px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    
    background-image: linear-gradient(to top, rgba(1,22,0,0), rgb(1,2,2)); /* 104,204,255 Standard syntax (must be last) */
    border: .5px solid black;
    border-radius:10%;

    text-align: center;
    color: white;
    font-style: italic;
    font-family: ans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wh{
	color: white;
	font-style: italic;
	font-family: sans-serif;
	background-image: linear-gradient(to top, rgba(1,22,0,0), rgb(1,2,2));
	height: 300px;
  	width: 200px;
    	margin-right: 20px;
    	margin-left: 20px;
	margin-top: 10px;
}

/*--------- package page css --------------- */
.package{
    background-image: url("gradient_bg.png");
    background-repeat: repeat-x;
    height: 300px;
    width: 200px;
    border;
    background-image: linear-gradient(to top, rgba(1,22,0,0), 	rgb(146,212,255)); /* Standard syntax (must be last) */
    border: 1px solid black;
    border-radius:10%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 20%;
    height: 250px;
    margin-left:10px;
}

/* Middle column */
.column.middle {
    width: 20%;
    height: 250px;
    margin-left:5%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    margin:5%;
}




/* -----------------css mainly for quote page---------------- */

body.bkcolor {
    background-color:powderblue;
    }

section.left {		
	 background-color: black;
   	 color: white;
    	margin: 20px 0 20px 0;
    	padding: 20px;
	border: 10px;
	width: 180px;
	height: 290px;
	float: left;
	}

section.left {		
	 background-color: black;
   	 color: white;
    	margin: 20px 0 20px 0;
    	padding: 20px;
	border: 10px;
	width: 180px;
	height: 290px;
	float: center;
	}


ul {			
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
	}

li {
    float: left;
	}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    list-style-type: button;

	}

li a:hover {
    background-color: #111;
    	}
   	

aside { 
    width="300%";
     height= 100%;
     float: left;
   margin: 10px;
   padding: 10px;
      border: 1px solid black
      }

svg {
    width="400" height="180";
    rect x="50" y="20" rx="20" ry="20";
     width="150";
     height="150";
  style=fill:red;
  stroke:black;
  stroke-width:5;
  opacity:"0.5";
